<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tony's Responsive Portfolio</title>

        <!--==================== FAVICON ====================-->
        <link rel="icon" type="image/png" href=".././assets/img/m_logo.png" />

        <!--==================== BOOTSTRAP CSS ====================-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous"
        />

        <!--==================== CSS ====================-->
        <link rel="stylesheet" href=".././assets/css/stylesheet.css" />

        <!--==================== AOS ====================-->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

        <!--==================== FONT-AWESOME JS ====================-->
        <script
            src="https://kit.fontawesome.com/dc21c76de2.js"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <!--==================== HEADER ====================-->
        <header
            data-aos="fade-zoom-in"
            data-aos-easing="ease-in-back"
            data-aos-delay="300"
            data-aos-offset="0"
        >
            <!-- Navbar -->
            <nav
                class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top"
            >
                <div class="container-fluid">
                    <a class="navbar-brand fw-bold fs-4" href="../index.html">
                        <img
                            alt="image"
                            src=".././assets/img/mikey_logo.svg"
                            height="50"
                            class="p-2"
                        />
                    </a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="collapse navbar-collapse justify-content-end"
                        id="navbarNavDropdown"
                    >
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="../index.html"
                                    >Home</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../index.html#about"
                                    >About</a
                                >
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../index.html#skills"
                                    >Skills</a
                                >
                            </li>

                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="../templates/projects.html"
                                    >Projects</a
                                >
                            </li>

                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="../templates/blogs.html"
                                    >Blogs</a
                                >
                            </li>

                            <!-- <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdownMenuLink"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Projects
                                </a>
                                <ul
                                    class="dropdown-menu"
                                    aria-labelledby="navbarDropdownMenuLink"
                                >
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >Project 1</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >Project 2</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            >Project 3</a
                                        >
                                    </li>
                                </ul>
                            </li> -->

                            <li class="nav-item">
                                <a class="nav-link" href="../index.html#contact"
                                    >Contact
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../index.html#coffee"
                                    >Buy Me A Coffee</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!-- My Blogs-->
            <section id="blogs" class="my-5 py-5" data-aos="zoom-out">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8 text-center">
                            <h1><strong>My Blogs</strong></h1>
                            <br />
                            <div>
                                <h3>
                                    <em
                                        >How food delivery companies are
                                        leveraging the psychology of discounts
                                        to make more money?</em
                                    >
                                </h3>
                                <p class="text-muted">
                                    In India, we’ve all heard about the crazy
                                    discounts offered by food delivery companies
                                    like ...
                                </p>
                                <a
                                    class="
                                        btn btn-primary
                                        mb-3
                                        text-decoration-none
                                    "
                                    href="https://medium.com/@tonymike99/c1cb676bad0b"
                                    target="_blank"
                                    >Read more <i class="fas fa-book"></i
                                ></a>
                                <br /><br /><br />
                            </div>

                            <div>
                                <h3>
                                    <em>CherryTree Note-taking application</em>
                                </h3>
                                <p class="text-muted">
                                    CherryTree is a simple and hierarchical note
                                    taking application, featuring ...
                                </p>
                                <a
                                    class="
                                        btn btn-primary
                                        mb-3
                                        text-decoration-none
                                    "
                                    href="https://medium.com/@tonymike99/c05bd4a5d72a"
                                    target="_blank"
                                    >Read more <i class="fas fa-book"></i
                                ></a>
                                <br /><br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!--==================== FOOTER ====================-->

        <hr style="color: rgb(175, 206, 252)" />

        <footer class="footer-small" data-aos="zoom-in">
            <div class="container-fluid">
                <div class="row text-center align-items-center mb-2">
                    <div class="col-12 col-lg-2 text-lg-left pb-4">
                        <a href="https://tonymike99.github.io/">
                            <img
                                alt="image"
                                src=".././assets/img/mikey_logo.svg"
                                height="100"
                            />
                        </a>
                    </div>

                    <div class="col text-center">
                        <div class="col text-center">
                            Designed and Developed with 💓 by Tony.
                        </div>

                        <div class="col text-center">
                            © 2021 Mikey. All Rights Reserved.
                        </div>
                    </div>

                    <!-- <div class="col mt-4 mt-lg-0 text-center">
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#skills">Skills</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#projects"
                                    >Projects</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact"
                                    >Contact Me</a
                                >
                            </li>
                        </ul>
                    </div> -->

                    <div class="col-12 col-lg-2 mt-4 mt-lg-0 text-lg-right">
                        <a
                            href="https://linkedin.com/in/tonymike99"
                            class="text-reset mx-2"
                        >
                            <i class="fab fa-linkedin fa-lg"></i
                        ></a>
                        <a
                            href="https://github.com/tonymike99/"
                            class="text-reset mx-2"
                            ><i class="fab fa-github fa-lg"></i
                        ></a>
                        <a
                            href="https://stackoverflow.com/users/15880393/tony-mike"
                            class="text-reset mx-2"
                            ><i class="fab fa-stack-overflow"></i
                        ></a>
                        <a
                            href="https://facebook.com/profile.php?id=100009973660727"
                            class="text-reset mx-2"
                            ><i class="fab fa-facebook fa-lg"></i
                        ></a>
                        <a
                            href="https://instagram.com/tonymike99"
                            class="text-reset mx-2"
                            ><i class="fab fa-instagram-square fa-lg"></i
                        ></a>
                        <a
                            href="https://twitter.com/tonymike07"
                            class="text-reset mx-2"
                            ><i class="fab fa-twitter-square fa-lg"></i
                        ></a>
                    </div>
                </div>
            </div>
        </footer>

        <!--==================== BOOTSTRAP JS ====================-->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"
        ></script>

        <!--==================== AOS ====================-->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
